<%- include('../estilos/estilos-generales')%>

<div class="row">
    <div class="col-sm-2 menu">
        Inicio
    </div>
    <div class="col-sm-2 menu">
        Autores
    </div>
    <div class="col-sm-2 menu">
        Categorias
    </div>
    <div class="col-sm-4 menu">
        Buscar
    </div>
    <div class="col-sm-2 menu">
        Carrito
    </div>
</div>