<% let esAdministrador %>
<% let estaLogueado %>
<% if(typeof roles !== 'undefined'){if(roles.some( (rol)=> rol == 'ADMINISTRADOR')){esAdministrador=true} }%>
<% if(typeof usuario !== 'undefined'){ estaLogueado = true } %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: chocolate">
    <a class="navbar-brand" href="<%= estaLogueado ? '/inicio?usuario='+usuario+'&rol='+roles[0] : '/inicio'%>">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/inicio">Accion</a>
                    <a class="dropdown-item" href="/inicio">Suspenso</a>
                    <a class="dropdown-item" href="/inicio">Drama</a>
                </div>
            </li>
            <% if(esAdministrador) { %>
                <a class="navbar-brand" href="<%= estaLogueado ? '/libro/administracion?usuario='+usuario+'&rol='+roles[0] : '/libro/administracion'%>">Administración</a>
            <% } %>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/inicio" >
            <input class="form-control mr-sm-2" type="search" name="busqueda" placeholder="busqueda" aria-label="busqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: #ffdf7e" type="submit">Buscar</button>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" style="background-color:#ffdf7e" type="submit">Carrito</button>
        </form>
    </div>
</nav>
