<%- include('../estilos/estilos-generales')%>

<div class="footer" >
    <div class="row" style="background-color: #ffdf7e">
        <div class="col-sm-8">
            <b>Contactenos al 0978730734</b>
            <b>Direccion: Av. Siempre Viva 742, Springfield</b>
        </div>
        <div class="col-sm-4" >
            <b style="margin-right: 0px"><i>Redes Sociales: facebook.com/Libreria-Online</i></b>
        </div>
    </div>
</div>