<%- include('../estilos/estilos-generales')%>

<div class="footer" >
    <div class="row" style="background-color: #ffdf7e">
        <div class="col-sm-8">
            <label><b>Contactenos al 0978730734</b></label><br>
            <label><b>Direccion: Av. Siempre Viva 742, Springfield</b></label>
        </div>
        <div class="col-sm-4" >
            <label style="margin-right: 0px"><b><i>Redes Sociales: facebook.com/Libreria-Online</i></b></label>
        </div>
    </div>
</div>