<%- include('../estilos/estilos-generales')%>

<footer>
    <div class="row" style="background-color: #ffdf7e">
        <div class="col-sm-6">
            <label>Contactenos al 0978730734</label><br>
            <label>Direccion: Av. Siempre Viva 742, Springfield</label>
        </div>
        <div class="col-sm-6" >
            <label style="margin-right: 0px">Redes Sociales: facebook.com/Libreria-Online</label>
        </div>
    </div>
</footer>