<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>


<div class="row">
<div class="card" style="width: 18rem;">
    <img src="https://educacion2.com/cuidar-la-naturaleza/cuidar-la-naturaleza-4/" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">titulo</p>
        <p class="card-text">autor</p>
        <p class="card-text">descripcion</p>
    </div>
    <div>
        <a class="btn btn-outline-warning btn-lg" style="background-color: chocolate" href="/carrito" role="button">Agregar al carrito</a><br/>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://educacion2.com/cuidar-la-naturaleza/cuidar-la-naturaleza-3/" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">titulo</p>
        <p class="card-text">autor</p>
        <p class="card-text">descripcion</p>
    </div>
    <div>
        <a class="btn btn-outline-warning btn-lg" style="background-color: chocolate" href="/carrito" role="button">Agregar al carrito</a><br/>
    </div>
</div>
    <div class="card" style="width: 18rem;">
        <img src="https://educacion2.com/cuidar-la-naturaleza/cuidar-la-naturaleza-5/" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">titulo</p>
            <p class="card-text">autor</p>
            <p class="card-text">descripcion</p>
        </div>
        <div>
            <a class="btn btn-outline-warning btn-lg" style="background-color: chocolate" href="/carrito" role="button">Agregar al carrito</a><br/>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://educacion2.com/cuidar-la-naturaleza/cuidar-la-naturaleza-6/" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">titulo</p>
            <p class="card-text">autor</p>
            <p class="card-text">descripcion</p>
        </div>
        <div>
            <a class="btn btn-outline-warning btn-lg" style="background-color: chocolate" href="/carrito" role="button">Agregar al carrito</a><br/>
        </div>
    </div>

</div>


<%- include('../componentes/pie-de-pantalla')%>
